* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

:root {
  --bg-color: #1f1f21;
  --text-color: #fff;
  --big-font: 7rem;
  --para-font: 1.43rem;
}

html {
  font-size: 62.5%;
}

body {
  /* min-height: 100vh;
  width: 100vw; */
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 10%;
  background: transparent;
  transition: all 0.3s ease;
}

.logo,
.logo span {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 600;
  font-family: "Smooch", cursive;
  letter-spacing: 5px;
}

.logo span {
  color: #efa92f;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: var(--para-font);
  font-weight: 500;
  color: var(--text-color);
  margin: 0 2.5rem;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
}

.navbar a:hover {
  color: #efa92f;
}

.navbar a.active {
  color: #efa92f;
}

.menu-btn {
  background: linear-gradient(130deg, #383528 0%, #191919 100%);
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  padding: 0 2rem;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  cursor: pointer;
}

.menu-btn span {
  color: #efa92f;
  font-size: 3rem;
  font-family: "Smooch", cursive;
}

#menu-icon {
  font-size: 2.7rem;
  color: aliceblue;
  z-index: 6;
}

/* HEADER SECTION END */

/* HERO SECTION START */

section {
  padding: 0 15%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.hero-img {
  width: 630px;
  height: 630px;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-text span {
  padding: 0.5rem 2.5rem;
  background: linear-gradient(130deg, #383528 0%, #191919 100%);
  box-shadow: 0px 20px 40px #00000070;
  border: 1px solid #3b3b3b;
  border-radius: 10rem;
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-text h1 {
  font-size: var(--big-font);
  margin: 2rem 0;
  font-family: "Smooch", cursive;
  letter-spacing: 2px;
}

.hero-text h1::first-letter {
  color: #efa92f;
}

.hero-text h1 .colo-r {
  color: #efa92f;
  font-size: var(--big-font);
  /* margin: 2rem 0; */
  font-family: "Smooch", cursive;
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
  border-radius: 0;
}

.hero-text p {
  /* font-size: var(--para-font); */
  font-size: 1.77rem;
  font-weight: 400;
  color: #c3c3c3;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  padding: 1.4rem 3.4rem;
  background-color: #efa92f;
  color: var(--text-color);
  border: 2px solid #efa92f;
  font-size: 1.7rem;
  font-weight: 600;
  border-radius: 7px;
  transition: all 0.5s ease;
}

.btn:hover {
  transform: translateY(-5px);
  background: transparent;
  box-shadow: 0px 2px 22px #f6c160;
}

.two {
  background: transparent;
  margin-left: 2rem;
  border: 2px solid transparent;
  border: 2px solid #c3c3c3;
}

.two:hover {
  color: #efa92f;
}

.socials {
  position: absolute;
  bottom: 3rem;
  left: 15%;
  display: flex;
  align-items: center;
}

.socials p {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-right: 2.5rem;
}

.social i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  color: var(--text-color);
  background: linear-gradient(130deg, #383528 0%, #191919 100%);
  /* box-shadow: 0px 20px 40px #00000070; */
  border: 1px solid #3b3b3b;
  border-radius: 50%;
  font-size: 2rem;
  margin: 0 7px;
  transition: all 0.5s ease-in-out;
}

.social i:hover {
  background: #efa92f;
  transform: translateY(-7px);
  box-shadow: 0px 0px 7px #f6c160;
}

/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 1245px) {
  header {
    padding: 15px 5%;
    transition: 0.2s;
  }

  section {
    padding: 0 5%;
    transition: 0.2s;
  }

  .socials {
    left: 5%;
    transition: 0.2s;
  }

  :root {
    /* --bg-color: #1f1f21;
    --text-color: #fff; */
    --big-font: 5.75rem;
    --para-font: 1.2rem;
    transition: 0.2s;
  }
}

@media (max-width: 1055px) {
  .navbar a {
    margin: 0 15px;
  }

  :root {
    /* --bg-color: #1f1f21;
    --text-color: #fff; */
    --big-font: 5rem;
    transition: 0.2s;
  }
}

@media (max-width: 950px) {
  .socials {
    display: none;
  }

  section {
    padding: 7rem 4%;
  }

  header {
    padding: 11px 4%;
  }

  .hero {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .hero-img {
    margin: auto;
    height: auto;
    width: auto;
  }

  .hero-img img {
    max-width: 455px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 900px) {
  .navbar {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 4rem 5rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(9, 9, 9, 0.9);
    transition: all 0.3s ease-in-out;
  }

  .navbar a {
    display: block;
    color: #c3c3c3;
    padding: 0;
    margin: 0 0 4rem 0;
    font-size: 2rem;
    font-weight: 400;
  }

  .navbar.open {
    left: 0;
  }
}

@media (max-width: 425px) {
  :root {
    --big-font: 4rem;
    --para-font: 1.5rem;
    transition: 0.2s;
  }

  .btn {
    padding: 9px 24px;
  }

  .logo,
  .logo span {
    font-size: 3.33rem;
    letter-spacing: 3px;
  }
}

/* HERO IMAGE ANIMATION */
.hero-img img {
  animation: play 3s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes play {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}
